@using HiddenVilla_Server.Model


<div class="col-lg-6 col-xxl-4 justify-content-center" @onclick="BarvaSelectionChanged">
    @if (@ZvolenaBarva.Aktivni)
    {
        <div class="myCard">
            <h1 class="nadpisBarvy py-2" style=@ZvolenaBarva.BarvaCSS>
                @ZvolenaBarva.BarvaJmeno.ToUpper()
            </h1>
            <div style="background-color:none;">
                <img src=@ZvolenaBarva.UrlRyby />
            </div>
        </div>
    }
    else
    {
        <div class="myCardBody" style=@ZvolenaBarva.BarvaCSS> </div>
    }
</div>


@code {
    [Parameter]
    public Barvy ZvolenaBarva { get; set; }

    [Parameter]
    public EventCallback<string> OnBarvaSelection { get; set; }

    protected void BarvaSelectionChanged()
    {
        if(ZvolenaBarva.Aktivni ? (ZvolenaBarva.Aktivni = false) : (ZvolenaBarva.Aktivni = true));
        InvokeAsync(StateHasChanged);           
    }    
}

