@using HiddenVilla_Server.Model


<div class="container justify-content-center" @onclick="(args)=>BarvaSelectionChanged(args, ZvolenaBarva.Aktivni)">
    @if (@ZvolenaBarva.Aktivni)
    {
        <div class="myCard">
            <h1 class="nadpisBarvy py-2" style=@ZvolenaBarva.BarvaCSS>
                @ZvolenaBarva.BarvaJmeno.ToUpper()
            </h1>
            <div style="background-color:none;">
                <img src=@ZvolenaBarva.UrlRyby />
            </div>
        </div>
    }
    else
    {
        <div class="myCardBody" style=@ZvolenaBarva.BarvaCSS> </div>
    }
</div>


@code {
    [Parameter]
    public Barvy ZvolenaBarva { get; set; }

    [Parameter]
    public EventCallback<string> OnBarvaSelection { get; set; }

    protected async Task BarvaSelectionChanged(MouseEventArgs e, bool aktiv)
    {
        //await OnBarvaSelection.InvokeAsync(ZvolenaBarva.Aktivni);
    }
}
