@page "/blazorjs"
@inject IJSRuntime JsRuntime

<h3 class="text-primary">Blazor and JavaScipt</h3>
<p>
    Vyskakovací okno pro potvrzovací hlášky...
</p>

<div class="row mt-4">
    <button class="btn btn-secondary col-4" @onclick="(()=>TestConfirmBox(ConfirmMessage))">Test Potvrzovací tlačítko</button>
</div>

<div class="row mt-4">
    @if (ConfirmResult)
    {
        <p class="text-success">POTVRZENO!</p>
    }
    else
    {
        <p>Čeká se na potvrzení</p>
    }
</div>

<div class="row mt-4">
    <button class="btn btn-success col-3" @onclick="TestSuccess">Test Toastr úspěch</button>
    <div class="col-1"></div>
    <button class="btn btn-danger col-3" @onclick="TestFailure">Test Toastr error</button>
</div>
 
<div class="row mt-4">
    <button class="btn btn-success col-3" @onclick="TestSuccessSwal">Test SweetAlert úspěch</button>
    <div class="col-1"></div>
    <button class="btn btn-danger col-3" @onclick="TestFailureSwal">Test SweetAlert error</button>
</div>

@code {
    private string ConfirmMessage = "Jsi si jistý, že chceš kliknout?";
    private bool ConfirmResult { get; set; }

    public async Task TestConfirmBox(string message)
    {
        ConfirmResult = await JsRuntime.InvokeAsync<bool>("confirm", message);
    }

    public async Task TestSuccess()
    {
        //await JsRuntime.InvokeVoidAsync("ShowToastr", "success", "Hlásím úspěch");
        await JsRuntime.ToastrSuccess("Hlásím úspěch");
    }

    public async Task TestFailure()
    {
        //await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Hlásím error");
        await JsRuntime.ToastrError("Hlásím error");
    }

    public async Task TestSuccessSwal()
    {
        await JsRuntime.InvokeVoidAsync("ShowSwal", "success", "Test byl úspěšný");
    }

    public async Task TestFailureSwal()
    {
        await JsRuntime.InvokeVoidAsync("ShowSwal", "error", "Test selhal");
        
    }

}
