@page "/demoHotel"
@using Model

<div>
    <div class="container bg-dark p-2 myBlue">
        <h2 class="myLightBlue text-center pt-3">Hotel Room´s</h2>
        <span class="text-white">Rooms Selected - @SelectedRooms</span>
        <br />
        <br />
        <div class="row pb-3">
            @foreach (var room in RoomsList)
            {
                <IndividualRoom OnRoomCheckBoxSelection="RoomSelectionCounterChange" Room="@room"></IndividualRoom>
            }
        </div>
        <br />
        <hr />
        <h2 class="myLightBlue text-center pt-3">Hotel Amenitie´s</h2>
        <br />
        <div class="row pb-3">

            @foreach (var amenity in AmenitiesList)
            {
                <Amenity OnAmenitySelection="AmenitySelectionChanged" OurAmenity="@amenity"></Amenity>
            }
        </div>
        <br />
    </div>
    <div class="col-12">
        <p class="alert-secondary">Selected Amenity : @SelectedAmenity</p>
    </div>
</div>


@code {

    public int SelectedRooms { get; set; } = 0;
    public string SelectedAmenity { get; set; } = "";

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<Amenities> AmenitiesList = new List<Amenities>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RoomsList.Add(new BlazorRoom()
            {
                Id = 201,
                RoomName = "Villa Suite One Bed Room",
                IsActive = true,
                Price = 399,
                RoomProps = new List<BlazorRoomProp>
                {
                new BlazorRoomProp{Id=1, Name="Sq Ft", Value="330"},
                new BlazorRoomProp{Id=2, Name="Occupancy", Value="4"},
                new BlazorRoomProp{Id=3, Name="By the see", Value="no"}
                }
            });
        RoomsList.Add(new BlazorRoom()
            {
                Id = 301,
                RoomName = "Villa Suite Two Bed Room",
                IsActive = true,
                Price = 699,
                RoomProps = new List<BlazorRoomProp>
                {
                new BlazorRoomProp{Id=1, Name="Sq Ft", Value="150"},
                new BlazorRoomProp{Id=2, Name="Occupancy", Value="6"},
                new BlazorRoomProp{Id=3, Name="By the see", Value="yes very close"}
                }
            });

        AmenitiesList.Add(new Amenities()
            {
                Id = 111,
                AmenityName = "Gym",
                Description = "24x7 gym room is available.",
            });
        AmenitiesList.Add(new Amenities()
            {
                Id = 222,
                AmenityName = "Swimming Pool",
                Description = "Pool room is open from 6am to 10pm.",
            });
        AmenitiesList.Add(new Amenities()
            {
                Id = 333,
                AmenityName = "Free Breakfast",
                Description = "Enjoy free breakfast at our hotel.",
            });
    }

    protected void RoomSelectionCounterChange(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }

    protected void AmenitySelectionChanged(string amenity)
    {
        SelectedAmenity = amenity;
    }


}
