@page "/hriste"
@using HiddenVilla_Server.Model

<style>
    body {
        background-color: #FDFDE9;
    }
</style>


<div class="container text-center py-4">
    <h1 class="zivyFont" style="font-size:4em">HŘIŠTĚ</h1>
    <div class="shake-rotate"><i>"BLAZOR - testováno na dětech..."</i></div>
</div>
<br />

<div class="container border text-center shadow p-3 mb-5 rounded">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="zivyFont" style="font-size:4em">Počítáme se slony</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="text-center pb-3">
                <span style="font-size:1.5em">0-10 slonů</span><br />
                <input type="number" min="0" max="10" class="btn btn-warning" style="width:5em; font-size:2em" @bind-value="SlonModry" @bind-value:event="oninput" />
            </div>
            @for (var i = SlonModry; i > 0; i--)
            {
                <img src="images/slonModry.gif" alt="slon" width="100px" />
                <span>&nbsp;</span>
            }
        </div>
        <div class="col-6">
            <div class="text-center pb-3">
                <span style="font-size:1.5em">0-10 slonů</span><br />
                <input type="number" min="0" max="10" class="btn btn-warning" style="width:5em; font-size:2em" @bind-value="SlonRuzovy" @bind-value:event="oninput" />
            </div>
            @for (var i = SlonRuzovy; i > 0; i--)
            {
                <img src="images/slonRuzovy.gif" alt="slon" width="100px" />
                <span>&nbsp;</span>
            }
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12 text-center">
            <span style="font-size:7em">@SlonModry + @SlonRuzovy = @SoucetSlonu</span>
        </div>
    </div>
</div>
<br />

<div class="container border text-center shadow p-3 pb-5 rounded" >
    <h2 class="zivyFont pb-3" style="font-size:4em">Barvíme rybičky</h2>

    <div class="shake-slow shake-constant pb-4"><img src="images/rybaMala.gif" alt="ryba" width="80px" /></div>
    <br />
    <div class="row justify-content-center">
        @foreach (var barva in SeznamBarev)
        {
            <Barva ZvolenaBarva="@barva"></Barva>
            @*<Barva OnBarvaSelection="BarvaSelectionChanged" ZvolenaBarva="@barva"></Barva>*@             
        }
    </div>
</div>
<br />
<br />
<br />



@code {
    [Parameter]
    public int SlonModry { get; set; } = 1;
    [Parameter]
    public int SlonRuzovy { get; set; } = 1;
    [Parameter]
    public int SoucetSlonu
    {
        get { return SlonModry + SlonRuzovy; }
        set { }
    }

    public string ZvolenaBarva { get; set; }
    List<Barvy> SeznamBarev = new List<Barvy>();



    protected override void OnInitialized()
    {

        SeznamBarev.Add(new Barvy()
            {
                Id = 0,
                BarvaJmeno = "Červená",
                BarvaCSS = "background-color: #FF0000;",
                UrlRyby = "images/rybaCervena.gif",
                Aktivni = true
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 1,
                BarvaJmeno = "Modrá",
                BarvaCSS = "background-color: #0033FF",
                UrlRyby = "images/rybaModra.gif",
                Aktivni = false
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 2,
                BarvaJmeno = "Zelená",
                BarvaCSS = "background-color: #33CC00",
                UrlRyby = "images/rybaZelena.gif",
                Aktivni = true
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 3,
                BarvaJmeno = "Žlutá",
                BarvaCSS = "background-color: #FFFF00",
                UrlRyby = "images/rybaZluta.gif",
                Aktivni = false
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 4,
                BarvaJmeno = "Oranžová",
                BarvaCSS = "background-color: #FF9900",
                UrlRyby = "images/rybaOranzova.gif",
                Aktivni = false
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 5,
                BarvaJmeno = "Hnědá",
                BarvaCSS = "background-color: #660000",
                UrlRyby = "images/rybaHneda.gif",
                Aktivni = true
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 6,
                BarvaJmeno = "Bílá",
                BarvaCSS = "background-color: #FFF",
                UrlRyby = "images/rybaBila.gif",
                Aktivni = false
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 7,
                BarvaJmeno = "Šedá",
                BarvaCSS = "background-color: #666",
                UrlRyby = "images/rybaSeda.gif",
                Aktivni = true
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 8,
                BarvaJmeno = "Černá",
                BarvaCSS = "background-color: #000",
                UrlRyby = "images/rybaCerna.gif",
                Aktivni = false
            });
        SeznamBarev.Add(new Barvy()
            {
                Id = 9,
                BarvaJmeno = "Růžová",
                BarvaCSS = "background-color: #FF99FF",
                UrlRyby = "images/rybaRuzova.gif",
                Aktivni = false
            });
    }
}