@page "/myko"
@using HiddenVilla_Server.Model

<style>
    body {
        background-color: #ECFCED;
    }
</style>

<article class="container">
    <h1 class="text-center my-4 mykoNadpis">Mykologie</h1>
    <div class="row">
        @foreach (var item in HoubySeznam)
        {
            <HoubaVizitka Houba="@item"></HoubaVizitka>
        }
    </div>
   
</article>
<br />



@code
{
    
    List<Houba> HoubySeznam = new List<Houba>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        HoubySeznam.Add(new Houba()
            {
                Id = 1,
                Jmeno = "liška obecná",
                Stanoviste = "jehličnaté lesy",
                Obdobi = "červen - říjen",
                Jedla = true,
                HoubaParametry = new List<HoubaParam>
                {
                    new HoubaParam
                    {
                        Id=1,
                        VyzivaNazev="mykorhizní",
                        VyzivaPopis="symbióza s rostlinami"
                    }
                },
                HoubaNakup = new List<HoubaObchod>
                {
                    new HoubaObchod
                    {
                        Susena="0,5 kg - sušené plátky",
                        Cerstva="1 kg - čerstvé plodnice"
                    }
                }
            });

        HoubySeznam.Add(new Houba()
            {
                Id = 2,
                Jmeno = "hřib satan",
                Stanoviste = "listnaté stromy",
                Obdobi = "červen - říjen",
                Jedla = false,
                HoubaParametry = new List<HoubaParam>
                {
                    new HoubaParam
                    {
                        Id=1,
                        VyzivaNazev="mykorhizní",
                        VyzivaPopis="symbióza s rostlinami"
                    }
                },
                HoubaNakup = new List<HoubaObchod>
                {
                    new HoubaObchod
                    {
                        Susena="0,5 kg - sušené plátky",
                        Cerstva="1 kg - čerstvé plodnice"
                    }
                }
            });

        HoubySeznam.Add(new Houba()
            {
                Id = 3,
                Jmeno = "pařezník pozdní",
                Stanoviste = "listnaté stromy v okolí řek",
                Obdobi = "září - prosinec",
                Jedla = true,
                HoubaParametry = new List<HoubaParam>
                {
                    new HoubaParam
                    {
                        Id=2,
                        VyzivaNazev="parazitická",
                        VyzivaPopis="organické látky získává z hostitele"
                    }
                },
                HoubaNakup = new List<HoubaObchod>
                {
                    new HoubaObchod
                    {
                        Susena="0,5 kg - sušené plátky",
                        Cerstva="1 kg - čerstvé plodnice"
                    }
                }
            });

        HoubySeznam.Add(new Houba()
            {
                Id = 4,
                Jmeno = "outkovka pestrá",
                Stanoviste = "listnaté stromy",
                Obdobi = "celoročně",
                Jedla = false,
                HoubaParametry = new List<HoubaParam>
                {
                    new HoubaParam
                    {
                        Id=2,
                        VyzivaNazev="parazitická",
                        VyzivaPopis="organické látky získává z hostitele"
                    }
                },
                HoubaNakup = new List<HoubaObchod>
                {
                    new HoubaObchod
                    {
                        Susena="0,5 kg - sušené plátky",
                        Cerstva="1 kg - čerstvé plodnice"
                    }
                }
            });
    }
}


