@page "/"
@using Model

<PageTitle>BLAZOR Practice</PageTitle>

<h1 class="myBlue">Udemy course</h1>
<h5><a href="https://www.udemy.com/course/blazor-the-complete-guide/learn/lecture/23783600#overview" target="_blank">Bhrugen Patel</a></h5> 
<br />
<ol>
    <li>Project Hidden-Villa - Blazor.Server</li>
</ol>
<hr />
<br />

<h4 class="myBlue">Lesson</h4>
<p>
     33 - Event call back
</p>

